@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&family=Oswald:wght@200;300;400;500;600&display=swap');

/* @media (max-width: 768px) or (orientation: landscape){

    header { 
        flex-direction: column;
        height: auto;
        padding:40px
    }
    
    header div:first-child, header div:nth-child(2){ width: 100%;}
    } 
*/

* {box-sizing: border-box;}

body {margin: 0; font-family: 'Montserrat', sans-serif;}

h1, h2 {font-family: 'Oswald', sans-serif;}
h1, h2, h3 {margin-top: 0; }

header {background-color:rgb(247,215,220);height:75.9vh;} 

header, main {padding: 0 8.33vw !important;}

header > div, main  .container-fluid > div, .carousel-inner, 
.carousel-item {height: 100%;}

h3 {font-size: 16px; 
    letter-spacing: 5px;
    line-height: 125%;
    color: rgb(93, 93, 93);} 

h1 {font-size: 40px;
    line-height: 125%;
    vertical-align: top;}

header p {line-height: 125%;
    font-size: 15px;
    color: rgb(93, 93, 93);}
    
header a {font-size: 20px;
    width: 37.5%;
    display: block;
    padding: 11.5px 0;
    border-radius: 5px;}

textarea {resize: none;}

footer{background-color: rgb(255, 197, 90); padding: 25px;width: 100%;}
footer p {text-align: center; padding-top: 2.5%;}

.navbar {background-color: white;}

main > .container-fluid:nth-child(2) {height: 80vh;}

.modal-title { background-color: rgb(247, 215, 220); color: white !important; padding: 0 10px !important;}
            
.carousel-inner .carousel-item img  {height: 100%;object-fit: cover;}

@media (max-width: 768px) {header {height: auto;padding: 40px}}

h2 {padding-top: 15%;}
section {padding-top: 1%; padding-bottom: 3%;}

main {width: 200px;
    height: 1240px;
    background-color: rgb(255, 255, 193);
    transform:translateX(0, 0);
    transition: background-color 2000ms 2s cubic-bezier(.01,.99,.9,-0.12), transform 3s ease-in-out;}
    
main:hover {background-color: white;
    transform: translateX(50px);}